<!-- ########################### [start]_헤더 : 선언부 영역 ########################### -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기록추가하기</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="../../static/css/content.css">
    <script src="../../static/js/common.js"></script>
</head>
<body>
<div class="wrap">
<!-- ########################### [end]_헤더 : 선언부 영역 ########################### -->

<!-- ########################### [start]_컨텐츠 영역 ########################### -->
    <div class="container">
        <div class="content">
            <div class="header">
                <div class="left">
                    <button type="button" class="arrow-btn" title="이전 화면 이동하기"></button>
                    <h1><em>기록해연</em> 님의 응원 기록</h1>
                </div>
            </div>
            <h2 class="tit-d03">기본 정보</h2>
            <div class="form-group-wrap">
                <div class="form-group" role="radiogroup" aria-labelledby="matchType">
                    <h3 class="form-tit" id="matchType"><span>경기 종류</span></h3>
                    <div class="group-wrap">
                        <label class="form-item" for="preSeason">
                            <span class="rd-btn-txt">시범</span>
                            <input type="radio" name="plays" id="preSeason" class="radio-btn" value="preSeason" required>
                        </label>
                        <label class="form-item" for="regularSeason">
                            <span class="rd-btn-txt">정규</span>
                            <input type="radio" name="plays" id="regularSeason" class="radio-btn" value="regularSeason" required>
                        </label>
                        <label class="form-item" for="playOffs">
                            <span class="rd-btn-txt">포스트</span>
                            <input type="radio" name="plays" id="playOffs" class="radio-btn" value="playOffs" required>
                        </label>
                        <label class="form-item" for="otherPlay">
                            <span class="rd-btn-txt">기타</span>
                            <input type="radio" name="plays" id="otherPlay" class="radio-btn" value="otherPlay" required>
                        </label>
                    </div>
                </div>
                <!-- // -->
                <div class="form-group" role="radiogroup" aria-labelledby="selectDate">
                    <h3 class="form-tit" id="selectDate"><span>날짜</span></h3>
                    <div class="group-wrap">
                        <button type="button" id="showDate" class="data-input-box" aria-haspopup="dialog" aria-expanded="false" onclick="openModal('bottomSheet01');"><span id="displayDate">날짜 선택</span></button>
                    </div>
                </div>
                <!-- // -->
                <div class="form-group" role="radiogroup" aria-labelledby="selectTime">
                    <h3 class="form-tit" id="selectTime"><span>시간</span></h3>
                    <div class="group-wrap">
                        <button type="button" id="showTime" class="data-input-box" aria-haspopup="dialog" aria-expanded="false" onclick="openModal('bottomSheet02')"><span id="displayTime">시간 선택</span></button>
                    </div>
                </div>
                <!-- // -->
            </div>
        </div>
        <!-- ########################### [start]_푸터 : 하단버튼 영역 ########################### -->
        <footer class="footer">
            <div class="wrap-btn">
                <button type="button" class="btn-comm-prime"><span>저장하기</span></button>
            </div>
        </footer>
        <!-- ########################### [end]_푸터 : 하단버튼 영역 ########################### -->
    </div>
</div>
<!-- ########################### [end]_컨텐츠 영역 ########################### -->

<!-- ########################### [start]_모달 영역 ########################### -->
<div class="modal btm-sheet" id="bottomSheet01">
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-tit">경기 시즌</h6>
                <button type="button" class="close-md" title="모달 닫기" onclick="dismissModal('bottomSheet01');"></button>
            </div>
            <div class="modal-content">
                <div class="calendar-wrap">
                    <div class="calender-head">
                        <button class="nav-btn" id="prevMonth" aria-label="이전 달 이동"></button>
                        <h7 class="month-tit" id="calendarTit" aria-live="polite">2026년 01월 28일</h7>
                        <button class="nav-btn" id="nextMonth" aria-label="다음 달 이동"></button>
                    </div>
                    <table class="data-table" role="grid">
                        <caption class="hide">월간 달력</caption>
                        <thead>
                            <tr>
                                <th scope="col" aria-label="일요일">일</th>
                                <th scope="col" aria-label="월요일">월</th>
                                <th scope="col" aria-label="화요일">화</th>
                                <th scope="col" aria-label="수요일">수</th>
                                <th scope="col" aria-label="목요일">목</th>
                                <th scope="col" aria-label="금요일">금</th>
                                <th scope="col" aria-label="토요일">토</th>
                            </tr>
                        </thead>
                        <tbody id="calendarBody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-wrap">
                    <button class="btn-comm-prime" id="confirmBtn" onclick="dismissModal('bottomSheet01');"><span>선택 완료</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ########################### [start]_모달 영역 ########################### -->
<div class="modal btm-sheet show" id="bottomSheet02">
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-tit">시간 선택</h6>
                <button type="button" class="close-md" title="모달 닫기" onclick="dismissModal('bottomSheet02');"></button>
            </div>
            <div class="modal-content">
                <div class="dial-trigger-box" onclick="document.getElementById('realTimePicker').showPicker()">
                    <span id="selectedTime">00:00</span>
                    <input type="time" id="realTimePicker" onchange="syncTime(this.value)">
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-wrap">
                    <button class="btn-comm-prime" id="applyTime" onclick="dismissModal('bottomSheet02');"><span>선택 완료</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>