@charset "UTF-8";
@import url(./layout.css);

/* icons - icon */
.ico-greeting{background:url("./../images/icon/color/icon_hello.svg");}
.ico-baseball{background:url("./../images/icon/color/icon_baseball.svg");}
.ico-medal{background:url("./../images/icon/color/icon_medal.svg");}
/* icons - team */
.ico-hanhwa{background:url(./../images/icon/team/icon_hanhwa.svg);}
.ico-doosan{background:url(./../images/icon/team/icon_doosan.svg);}
.ico-lg{background:url(./../images/icon/team/icon_lg.svg);}
.ico-kt{background:url(./../images/icon/team/icon_kt.svg);}
.ico-ssg{background:url(./../images/icon/team/icon_ssg.svg);}
.ico-nc{background:url(./../images/icon/team/icon_nc.svg);}
.ico-kiwoom{background:url(./../images/icon/team/icon_kiwoom.svg);}
.ico-kia{background:url(./../images/icon/team/icon_kia.svg);}
.ico-lotte{background:url(./../images/icon/team/icon_lotte.svg);}
.ico-samsung{background:url(./../images/icon/team/icon_samsung.svg);}
/* Header */
[class^=tit-d0]{display:-webkit-flex;display:flex;justify-content:center;align-items:center;gap:8px;color:var(--replace-333333);margin-bottom:12px;font-weight:700;}
[class^=tit-d0] > [class^=ico-]{display:block;width:24px;height:24px;background-position:center;background-size:contain;background-repeat:no-repeat}
.tit-d01{font:700 3.2rem/3.2rem "Pretendard Variable";}
.tit-d02{font-size:2.4rem;}
.header{margin-bottom:36px;padding-top:6px;text-align:center;}
.header p{color:var(--replace-666666);font:400 1.5rem/2.25rem "Pretendard Variable";}
.header.center{text-align:center;margin-bottom:40px;}
.progress-bar + .header {padding:0;}
/* content */
.steps{width:100%;}
.step-card{display:-webkit-flex;display:flex;flex-direction:column;gap:16px;width:100%;height:fit-content;}
.step-card .step-content{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:24px 16px;min-height:115px;border:2px solid var(--border-color-prime);border-radius:16px;}
.step-card .step-content > i{flex:none;display:block;width:40px;height:40px;background-position:center;background-size:contain;background-repeat:no-repeat}
.step-card .step-content:nth-of-type(1) > i{background-image:url("./../images/icon/color/icon_number1.svg");}
.step-card .step-content:nth-of-type(2) > i{background-image:url("./../images/icon/color/icon_number2.svg");}
.step-card .step-content:nth-of-type(3) > i{background-image:url("./../images/icon/color/icon_number3.svg");}
.step-card .step-content dl{position:relative;display:-webkit-flex;display:flex;flex-direction:column;justify-content:space-between;width:100%;}
.step-card .step-content dl .step-title{color:var(--replace-333333);font:600 1.6rem/1.8rem "Pretendard Variable";}
.step-card .step-content dl .step-title + .step-desc{margin-top:5px;color:var(--replace-666666);font:400 1.4rem/1.96rem "Pretendard Variable";}
.step-card .step-content > i + dl {margin-left:16px;}

.info-box{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;margin-top:24px;padding:10px 34px;min-height:63px;background-color:#F8F9FF;border:1px solid #E0E7FF;border-radius:12px;}
.info-box > p{position:relative;display:-webkit-flex;display:flex;justify-content:flex-start;align-items:flex-start;font:500 1.2rem/2.24rem "Pretendard Variable";color:#667EEA;text-align:center;word-break:break-all;}
.info-box > p:before{content:'';display:block;width:16px;height:17px;margin:0.3rem 0.3rem 0 0;background:url("./../images/icon/color/icon_bulb.svg") center/contain no-repeat;}
/* button */
[class^=btn-comm-]{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:100%;background-color:#fff;border:none}
[class^=btn-comm-].sm{height:51px;border-radius:12px;}
[class^=btn-comm-] > span{word-break:keep-all;white-space:nowrap;}
[class^=btn-comm-].sm > span{font:400 1.5rem/1.8rem "Pretendard Variable";}
[class^=btn-comm-].mid{border-radius:16px;}
[class^=btn-comm-].lg{border-radius:24px;}
[class^=btn-comm-][disabled]{background:var(--replace-cccccc) center/contain no-repeat;box-shadow:none;}
[class^=btn-comm-] + .skip-link{margin-top:16px;}
[class^=btn-comm-] > .icon {display:block;width:20px;height:20px;}
[class^=btn-comm-] > .icon + span {margin-left:12px;}
.btn-comm-prime,
.btn-comm-main{height:58px;border:none;border-radius:12px;}
.btn-comm-prime{background-color:var(--bg-color-prime);}
.btn-comm-main{background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);box-shadow:var(--boxshadow-default);}
.btn-comm-prime span{font:700 1.6rem/1.9rem "Pretendard Variable";color:#fff;}
.btn-comm-main span{font:700 1.7rem/2rem "Pretendard Variable";color:#fff;}
.btn-comm-line{border:1px solid var(--border-color-default);}
.btn-comm-default.kakao{background-color:#FEE500;}
[class$="-link"]{display:-webkit-flex;display:flex;width:100%;justify-content:center;align-items:center;}
[class$="-link"] > a{text-decoration:none;}
[class$="-link"] > a > span{position:relative;font:500 1.4rem/1.4rem "Pretendard Variable";}
.skip-link > a > span{color:var(--replace-999999);}
.skip-link > a > span:after{content:'';position:absolute;left:0;bottom:-1px;width:100%;border-bottom:1px solid var(--replace-999999);}
.back-link{margin-top:36px;}
.back-link > a > span{color:var(--font-color-prime);}
.back-link > a > span:after{border-bottom:1px solid var(--border-color-prime);}
/* btn-wrap */
.btn-wrap{display:-webkit-flex;display:flex;flex-direction:column;align-items:center;gap:16px;width:100%;}
/* form-group */
.form-group{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;width:100%;height:fit-content;}
.form-group + .form-group{margin-top:24px;}
.form-group .form-tit{display:block;width:100%;font:600 1.5rem/1.5rem "Pretendard Variable";color:var(--replace-333333);}
.form-group .form-item{position:relative;background-color:#fff;border:2px solid var(--replace-e0e0e0);border-radius:10px;}
.form-group > .form-item{display:block;width:100%;padding:11px 16px 9px;}
.form-group > .form-tit{margin-bottom:10px;}
.form-group > .form-tit > span{position:relative;}
.form-group > .form-tit:has(+ .form-item input[required]) > span:after{content:'';position:absolute;right:-0.8rem;top:0.3rem;width:0.5rem;height:0.5rem;background-color:var(--point-red);border-radius:100%}
.form-group .form-item > input[type="text"]{display:block;width:100%;height:100%;color:var(--replace-666666);font:400 1.5rem/1.8rem "Pretendard Variable";}
.form-group .form-item > input[type="text"]::placeholder{color:var(--replace-757575);}
.form-group > .group-wrap{display:-webkit-flex;display:flex;flex-wrap:wrap;gap:8px;justify-content:space-between;width:100%;}
.form-group > .group-wrap .form-item{display:-webkit-flex;display:flex;justify-content:center;align-items:center;width:calc(50% - 4px);padding:15px 0 13px;}
.form-group > .group-wrap .form-item:has(input[type="radio"]:checked){background-color:var(--bg-color-prime);border-color:var(--border-color-prime);}
.form-group > .group-wrap .form-item:nth-of-type(odd):last-of-type{width:100%;}
.form-group .form-item > .rd-btn-txt{display:block;width:100%;color:var(--replace-757575);font:400 1.5rem/1.8rem "Pretendard Variable";text-align:center;}
.form-group > .group-wrap .form-item:has(input[type="radio"]:checked) > .rd-btn-txt{color:#fff;}
.form-group .form-item > input[type="radio"],
.form-group .radio-btn label > input[type="radio"]{position:absolute;left:0;top:0;right:0;width:100%;height:100%;padding:0;margin:0;border:0;overflow:hidden;clip:rect(0,0,0,0);}
.form-msg{margin:10px 0 0 8px;font:400 1.3rem/1.3rem "Pretendard Variable";color:var(--replace-999999);}
.form-group .radio-btn{position:relative;display:block;width:100%;}
.form-group .radio-btn + .radio-btn{margin-top:16px;}
.form-group .radio-btn label{display:-webkit-flex;display:flex;justify-content:flex-start;align-items:center;width:100%;padding:20px 24px;background-color:#fff;border:2px solid var(--replace-e0e0e0);border-radius:16px;}
.form-group .radio-btn label:has(input[type="radio"]:checked){background-color:var(--bg-color-prime);border-color:var(--border-color-prime);box-shadow:var(--boxshadow-default);}
.form-group .radio-btn label > .txt-wrap{display:-webkit-flex;display:flex;flex-direction:column;}
.form-group .radio-btn label > i + .txt-wrap{margin-left:16px;}
.form-group .radio-btn label > .txt-wrap .tit{font:500 1.8rem/2.4rem "Pretendard Variable";color:var(--replace-000000);}
.form-group .radio-btn label > .txt-wrap .desc{font:400 1.3rem/1.7rem "Pretendard Variable";color:var(--replace-999999);}
.form-group .radio-btn label > .txt-wrap .tit + .desc{margin-top:4px;}
.form-group .radio-btn label:has(input[type="radio"]:checked) > .txt-wrap span{color:#fff;}
.progress-bar{position:relative;display:-webkit-flex;display:flex;justify-content:space-between;align-items:center;gap:8px;margin-bottom:36px;width:12rem;height:4px;}
.progress-bar .progress-step{display:block;width:calc(100% / 4);height:100%;background-color:var(--bg-color-prime);border-radius:2px;}
.progress-bar .progress-step.active{background-image:linear-gradient(to right, var(--bg-color-prime) 50%, var(--bg-color-default) 50%);background-size:200% 100%;background-position:100% 0;animation:slideFill 1s ease-out forwards;}
.progress-bar .progress-step.active ~ .progress-step{background-color:var(--bg-color-default);}
/* progress-bar animation */
@keyframes slideFill{
    from{background-position:100% 0;}
    to{background-position:0 0;}
}
/* btn-wrap */
.team-grid ul{display:-webkit-flex;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;width:100%;height:fit-content;gap:10px;}
.team-grid ul li{position:relative;display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px;width:calc(50% - 5px);height:115px;background-color:#fff;border-radius:14px;}
/* button - default */
.team-grid ul li label{width:100%;height:100%;}
.team-grid ul li:has(label[for="none"]){width:100%;height:63px;border:2px solid var(--replace-e0e0e0);}
.team-grid ul li:has(label[for="hanhwa"]){border:2px solid var(--prime-color-hanhwa);}
.team-grid ul li:has(label[for="doosan"]){border:2px solid var(--prime-color-doosan);}
.team-grid ul li:has(label[for="lg"]){border:2px solid var(--prime-color-lg);}
.team-grid ul li:has(label[for="kt"]){border:2px solid var(--prime-color-kt);}
.team-grid ul li:has(label[for="ssg"]){border:2px solid var(--prime-color-ssg);}
.team-grid ul li:has(label[for="nc"]){border:2px solid var(--prime-color-nc);}
.team-grid ul li:has(label[for="kiwoom"]){border:2px solid var(--prime-color-kiwoom);}
.team-grid ul li:has(label[for="kia"]){border:2px solid var(--prime-color-kia);}
.team-grid ul li:has(label[for="lotte"]){border:2px solid var(--prime-color-lotte);}
.team-grid ul li:has(label[for="samsung"]){border:2px solid var(--prime-color-samsung);}
/* button - checked */
.team-grid ul li:has(label > input[type="radio"]:checked){box-shadow:var(--boxshadow-default);}
.team-grid ul li:has(label[for="hanhwa"] > input[type="radio"]:checked){background-color:var(--prime-color-hanhwa);}
.team-grid ul li:has(label[for="doosan"] > input[type="radio"]:checked){background-color:var(--prime-color-doosan);}
.team-grid ul li:has(label[for="lg"] > input[type="radio"]:checked){background-color:var(--prime-color-lg);}
.team-grid ul li:has(label[for="kt"] > input[type="radio"]:checked){background-color:var(--prime-color-kt);}
.team-grid ul li:has(label[for="ssg"] > input[type="radio"]:checked){background-color:var(--prime-color-ssg);}
.team-grid ul li:has(label[for="nc"] > input[type="radio"]:checked){background-color:var(--prime-color-nc);}
.team-grid ul li:has(label[for="kiwoom"] > input[type="radio"]:checked){background-color:var(--prime-color-kiwoom);}
.team-grid ul li:has(label[for="kia"] > input[type="radio"]:checked){background-color:var(--prime-color-kia);}
.team-grid ul li:has(label[for="lotte"] > input[type="radio"]:checked){background-color:var(--prime-color-lotte);}
.team-grid ul li:has(label[for="samsung"] > input[type="radio"]:checked){background-color:var(--prime-color-samsung);}
.team-grid ul li > .team-btn{display:-webkit-flex;display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px;}
.team-grid ul li > .team-btn > input[type="radio"]{position:absolute;left:0;top:0;right:0;width:100%;height:100%;padding:0;margin:0;border:0;overflow:hidden;clip:rect(0,0,0,0);}
.team-grid ul li > .team-btn > input[type="radio"]:checked{}
.team-grid ul li > .team-btn > .team-name{font:700 1.4rem/1.82rem "Pretendard Variable";text-align:center;}
.team-grid ul li label[for="none"] > .team-name{color:var(--replace-666666);}
.team-grid ul li label[for="hanhwa"] > .team-name{color:var(--prime-color-hanhwa);}
.team-grid ul li label[for="doosan"] > .team-name{color:var(--prime-color-doosan);}
.team-grid ul li label[for="lg"] > .team-name{color:var(--prime-color-lg);}
.team-grid ul li label[for="kt"] > .team-name{color:var(--prime-color-kt);}
.team-grid ul li label[for="ssg"] > .team-name{color:var(--prime-color-ssg);}
.team-grid ul li label[for="nc"] > .team-name{color:var(--prime-color-nc);}
.team-grid ul li label[for="kiwoom"] > .team-name{color:var(--prime-color-kiwoom);}
.team-grid ul li label[for="kia"] > .team-name{color:var(--prime-color-kia);}
.team-grid ul li label[for="lotte"] > .team-name{color:var(--prime-color-lotte);}
.team-grid ul li label[for="samsung"] > .team-name{color:var(--prime-color-samsung);}
.team-grid ul li label input[type="radio"]:not(#none):checked + .team-name{color:#fff;}
.team-grid ul li label > i{display:block;width:2.8rem;height:2.8rem;background-position:center;background-size:contain;background-repeat:no-repeat;}
.team-grid ul li label[for="hanhwa"] > i{background-image:url(./../images/icon/team/icon_hanhwa.svg);}
.team-grid ul li label[for="doosan"] > i{background-image:url(./../images/icon/team/icon_doosan.svg);}
.team-grid ul li label[for="lg"] > i{background-image:url(./../images/icon/team/icon_lg.svg);}
.team-grid ul li label[for="kt"] > i{background-image:url(./../images/icon/team/icon_kt.svg);}
.team-grid ul li label[for="ssg"] > i{background-image:url(./../images/icon/team/icon_ssg.svg);}
.team-grid ul li label[for="nc"] > i{background-image:url(./../images/icon/team/icon_nc.svg);}
.team-grid ul li label[for="kiwoom"] > i{background-image:url(./../images/icon/team/icon_kiwoom.svg);}
.team-grid ul li label[for="kia"] > i{background-image:url(./../images/icon/team/icon_kia.svg);}
.team-grid ul li label[for="lotte"] > i{background-image:url(./../images/icon/team/icon_lotte.svg);}
.team-grid ul li label[for="samsung"] > i{background-image:url(./../images/icon/team/icon_samsung.svg);}